<!DOCTYPE html>
<html lang="en" ng-app="multishare">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My MultiShare</title>
    <link rel="stylesheet" type="text/css" href="../bower_components/simple-css-reset/reset.css" />
    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../bower_components/angular-bootstrap/ui-bootstrap-csp.css" />
    <link rel="stylesheet" type="text/css" href="../font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
    <link rel="stylesheet" type="text/css" href="../Css/multiapp.css" />
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-route/angular-route.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="../app.js"></script>

</head>

<body>
    <div class="container">
        <div class="masthead">
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-offset-4 logo_header">
                        <a href="#" class="noBorder"><img src="../Image/companyLogo.png" alt="Mymultishare" title="Mymultishare" class="img-responsive"> </img>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-container">
            <div class="row">
                <div class="right_content">
                    <div class="add_accont">
                        <a href="#addAccount" style="border:none;"><span>Add Social Network <span class="glyphicon glyphicon-plus add_glyphicon"></span></span></a>
                    </div>
                </div>
                <div class="left_content">
                    <div ng-view></div>
                </div>
            </div>

        </div>

    </div>
    <script src="../Controller/homeController.js"></script>
    <script src="../Controller/postdataController.js"></script>
    <script src="../Routes/multishareroute.js"></script>

</body>

</html>